USE [Biblioteca]
GO
/****** Object:  StoredProcedure [dbo].[SpPoliticasUsuarioCommand]    Script Date: 18/3/2026 10:18:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpPoliticasUsuarioCommand]
    @RolId INT = NULL,
    @Tipos VARCHAR(MAX) = NULL
AS
SET NOCOUNT ON;
BEGIN
    BEGIN TRY
        BEGIN
            SELECT p.Id AS PoliticaId, p.Tipo, p.Nombre, p.Ruta
            FROM RolPoliticas rp
            INNER JOIN Politicas p ON rp.PoliticaId = p.Id
            WHERE rp.RolId = @RolId 
            AND (
                @Tipos IS NULL 
                OR p.Tipo IN (SELECT value FROM STRING_SPLIT(@Tipos, ','))
            )
            ORDER BY 
                p.Tipo,
                CASE 
                    WHEN p.Tipo = 'Menu' AND p.Nombre = 'Perfil' THEN 1 
                    ELSE 0 
                END,
                CASE 
                    WHEN p.Tipo = 'Menu' AND p.Nombre != 'Perfil' THEN p.Nombre 
                    ELSE NULL 
                END;
        END
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS ERROR,
               ERROR_NUMBER() AS ERROR_NRO
    END CATCH;
END;