USE [Biblioteca]
GO
/****** Object:  StoredProcedure [dbo].[SPUsuarioRecuperacionGetCodigoCommand]    Script Date: 18/3/2026 1:26:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsuarioRecuperacionGetCodigoCommand]
	@Codigo VARCHAR(155) = NULL
AS
SET NOCOUNT ON;
BEGIN
    SELECT ur.Id, 
               ur.UsuarioId, 
               ISNULL((
                   SELECT TOP 1 dp.Cedula 
                   FROM dbo.DatosPersonales dp 
                   WHERE dp.UsuarioId = ur.UsuarioId
                   ORDER BY dp.Id DESC
               ), '') AS Cedula, 
               ur.Codigo, 
               ur.Activo, 
               ur.FechaCreado 
        FROM dbo.UsuariosRecuperacion ur 
        WHERE ur.Codigo = @Codigo
END
